<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>{{.Title}}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/accordion.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/ad.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/breadcrumb.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/button.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/card.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/checkbox.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/comment.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/container.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/dimmer.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/divider.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/dropdown.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/embed.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/feed.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/flag.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/form.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/grid.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/header.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/icon.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/image.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/input.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/item.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/label.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/list.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/loader.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/menu.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/message.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/modal.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/nag.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/popup.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/progress.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/rail.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/rating.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/reset.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/reveal.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/search.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/segment.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/shape.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/sidebar.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/site.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/statistic.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/step.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/sticky.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/tab.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/table.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/transition.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/components/video.min.css">
<style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/semantic.min.js"></script>
	<script src="/static/Semantic-UI-2.2.7/dist/components/form.min.js"></script>
	<script src="/static/Semantic-UI-2.2.7/dist/components/transition.min.js"></script>
</head>
<body>
